/* CSS files add styling rules to your content */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 100%;
  width: 100%;
}
/* 
.small-icons -> used for small image like icons, profile pic.
----
margin
----
.whole-page-margin -> to have the margin at the side of the page
.margin-center -> even spacing at both side
.margin-bottom -> spacing at the bottom
.bigspacing -> 120px big spacing at top and bottom
.midspacing ->60px mid spacing at top and bottom
.small-spacing ->20px spacing at top and bottom

-----
mobile
------
.mobile-flex-column -> change the direction to column
.desktop-logo -> show in desktop and hidden when change to mobile
.mobile-logo -> show in mobile and hidden when in desktop

*/

/* Nav */
.main-logo {
  width: 20%;
  text-align: center;
  margin: 20px auto;
}
nav,
.space-between {
  justify-content: space-between;
  /*   align-items: center; */
}
nav,
.align-items {
  align-items: center;
}
nav,
nav ul,
.flex {
  display: flex;
}

nav li,
.footer-list li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 20px;
}
nav li a:hover {
  transition: 1s ease-in;
  border-bottom: 3px solid black;
}
.mobile-logo {
  display: none;
}
.magnifying-glass {
  height: 30px;
  width: 30px;
}
/* footer */
.footer-list {
  padding: 0;
}
.footer-list li {
  padding: 5px 0;
}
.footer-list li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #53585e;
}

.footer-container {
  width: 30%;
}
/* Privacy & Term underline */
.privacynterm,
.privacynterm a {
  color: #7b7d81;
  text-decoration: none;
}
.privacynterm a:hover,
.footer-list li a:hover {
  text-decoration: underline;
}

/* for all */
.whole-page-margin {
  margin: 0 10%;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}
.grey-color {
  background-color: #f1f3f4;
}
.dark-grey-text {
  color: #7b7d81;
}
.grey-text, .grey-text li a {
  color: #53585e;
}
.white-text li a{
  color:#ffffff;
}
.blue-text {
  color: #4283f3;
}
.margin-center {
  margin: 0 auto;
}
.margin-bottom {
  margin-bottom: 40px;
}
.bigspacing {
  margin: 120px 0;
}
.midspacing {
  margin: 60px 0;
}
.small-spacing {
  margin: 20px 0;
}
.small-icons {
  width: 40px;
  height: 40px;
}
/* text */
h1,
h2,
h2,
h3, ul, a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h4 {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
.text-align-center{
  text-align:center;
}
nav a {
  font-weight: 500;
}
.mono-text {
  font-family: "Cutive Mono", monospace;
  color: #53585e;
  font-size: 0.9em;
  margin: 0;
}
/* box shadow */
.index-hero,
.box-hover,
.padding, .library-box-hover {
  padding: 20px;
}
.index-hero:hover,
.box-hover:hover {
  box-shadow: 0px 0px 2px #53585e;
}
.library-box-hover:hover{
  background-color: #c7d8e4;
  box-shadow: 0px 0px 2px #53585e;
}


/* blue line */
.blue-line {
  margin: 20px 0;
  border: 2px solid #4283f3;
}
/* index page */

/* Hero */
/* the height of the image */
.hero-img {
  width: 100%;
  height: 600px;
}
/* section 2 */
.index-section2 img {
  width: 100%;
  height: 350px;
}
/* to cover fit the box nicely */
.index-hero img,
.index-section2 img {
  width: 100%;
  object-fit: cover;
}
.index-section6 img{
  width:100%;
  height:200px;
  object-fit: cover;
}
.overflow-box {
  overflow: hidden;
  margin-left: 10%;
}
.overflow-box-container, .library-overflow-box-container  {
  width: 120%;
}
.index-2column {
  flex: 40%;
}
/* profile pic */
.index-profile img, .library-comments img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.index-word-box,
.index-featured-box {
  height: 100%;
}
/* error 404 page */

.errorpage-logo {
  width: 15%;
}

/* Resource page */
.resources-list li a {
  color: #4283f3;
  margin: 15px 0;
}

.resources-3column {
  flex: 29%;
}
.resources-list li a:hover,
.about-links:hover, .library-paragraph:hover {
  transition: 1s ease-out;
  text-decoration: none;
}
/* to align nicely */
.resource-3column-para {
  min-height: 70px;
}
/* about page */
.about-links {
  color: #4285f4;
}
.about-paragraph {
  width: 60%;
}
/* library page */
.library-hero{
  background-image: url(https://cdn.glitch.com/8870e4f2-5838-43ce-9671-2cc97198764c%2FvYtVt8o3kNkUz.png?v=1611802524517);
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
  height:700px;
}
.library-huge-side-spacing{
  margin: 0 30%;
  color: #4f8899;
}
.library-section{
  font-size:1.2em;
}
.library-section a, .library-section ul {
  color: #4f8899;
}
.library-green-bg{
  background-color:#d7e2eb;
}
.library-overflow-box {
  overflow: hidden;
  margin-left: 2%;
}

.library-img img{
  height:350px; 
  object-fit: cover;
}
.library-overflow-box-container .text-align-center a{
  color: #6a8b9a;
  text-decoration:none;
}
.library-tags{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 30px;
  background-color: #c8d9e4;
}
.library-tags a{
  text-decoration:none;
  color: #1d5262;

}
/* jobs page */
.jobs-round-img img{
  border-radius: 100%;
}
.jobs-flex2-img img{
  width:100%;
  height:450px;
  object-fit: cover;
}
/* Tablet */
@media screen and (max-width: 992px) {
  .tablet-width-100 {
    width: 100%;
    height: 100%;
  }
  nav ul {
    margin-right: 0px;
  }
  nav ul li a {
    font-size: 0.8em;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    width: 50px;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  .whole-page-margin, .library-huge-side-spacing {
    margin: 0 4%;
  }
  .mobile-width-100 {
    width: 100%;
    height: 100%;
  }
  /* nav */
  .mobile-logo {
    width: 40px;
    padding: 0;
  }
  nav ul {
    padding: 0;
  }
  .space-between {
    align-items: center;
  }
  .mobile-flex-column {
    flex-direction: column;
  }
  /* index page */
  .hero-img, .library-hero {
    width: 100%;
    height: 300px;
  }

  /*   resources page */
  /*   resource 3 column page */
  .resource-3column-para p {
    font-size: 0.9em;
  }
  /*   about page */
  .about-paragraph {
    width: 80%;
    margin: 30px auto;
  }
  nav{
    width: 100%;
  }
  .overflow-box , .library-overflow-box{
    margin-left: 0;
  }
  .overflow-box-container, .library-overflow-box-container {
    width: 95%;
    margin: 0 auto;
  }
  .index-2column,
  .resources-3column {
    flex: 100%;
  }


  /*   footer */
  .footer-container {
    width: 80%;
  }
}
